{% extends 'concertconnect_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row">
            <form class="form-group" method="post" action=".">
                {% csrf_token %}
                <br/>
                <br/>
                <button class="btn btn-lg btn-outline-danger btn-block" type="submit">Login</button> <br/>
                 <div class="form-group">
                <label>Username</label><br/>
                <input type="text" name="username" class="form-control" required autofocus>
                <label>Password</label><br/>
                <input type="password" name="password" class="form-control" required> 
                </div>
            </form>
        </div>    

        <br/>
    
    <hr class="column2"> 
    <h3> <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Register Here  </a></li></h3>


<p class="footer"></p>
{% endblock %}

