{% extends 'concertconnect_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
         <h1>{{ category.name }}</h1>
    {% else %}
        Unknown Category
    {% endif%}
{% endblock %}

{% block body_block %}

    {% if category %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ category.name }}</h1>

            <!-- AJAX chapter likes button component. DM. -->
            <div>
                <strong>{{ category.views }}</strong>views<br/>
                <strong id="like_count">{{ category.likes }}</strong> likes
                {% if user.is_authenticated %}
                <button id="like_btn" data-categoryid="{{ category.id }}" class="btn btn-primary btn-sm" type="button">
                    <span data-feather="fa fa-star"></span>
                    Like Venue
                </button>
                {% endif %}
            </div>
        </div>
    </div>
<div id="page-listing"> <!-- For AJAX page adding functionality. -->
    {% if pages %}
    <ul>
        {% for page in pages %}
            <li>
                <a href="{% url 'concertconnect_app:goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
                <p> {{ page.description }} </p>
              <img src="{{ MEDIA_URL }}{{ page.event_picture }}" alt="Picture of a
{{ page.title }}", style="width:150px;height:150px;"/>
                {% if page.views > 1 %}
                    ({{ page.views }} views)
                {% elif page.views == 1 %}
                    ({{ page.views }} view)
                {% endif %}
            </li>
        {% endfor %}

            
    </ul>
</div>
    {% else %}
    <strong>No Events currently for this Venue.</strong>
    {% endif %}
    <br/>
    
    {% if user.is_superuser %}
        <a href="{% url 'concertconnect_app:add_page' category.slug %}">Add Event</a><br/>
    {% endif %}
    <br/>
    {% if user.is_authenticated %}

    <div>
        <form class="form-inline" id="user-form" method="post" action="{% url 'concertconnect_app:show_category' category.slug %}">
            {% csrf_token %}
    
            <div class="form-group">
                <input class="form-control" type="text" size="50" name="query" placeholder="Search of Concerts" id="query" value="{{ query }}" />
            </div>
    
            <button class="btn btn-success" type="submit" name="submit" >Search</button>
        </form>
    </div>
    <div>
        {% if result_list %}
        <h2>Results</h2>
    
        <div class="list-group">
        {% for result in result_list %}
            <div class="list-group-item">
                <h3 class="list-group-item-heading">
                    <a href="{{ result.link }}">{{ result.title|safe|escape }}</a>
                </h3>
                <p class="list-group-item-text">
                    {{ result.summary|safe|escape }}
                </p>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}


    {% else %}
        The specified category does not exist.
    {% endif %}

{% endblock %}
    
