<!--
{% extends 'concertconnect_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login/Sign Up
{% endblock %}
<div>
{% block body_block %}
<h1><b>Login to ConcertConnect</b></h1>
<br/>

<form id="login_form" method="post" action="{% url 'concertconnect_app:login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50"/>
        <br />
        Password: <input type="password" name="password" value="" size="50"/>
        <br />
        <input type="submit" value="submit"/>

</form>
{% endblock %}
</div>
{% block body_block %}
Sign Up to ConcertConnect
{% endblock %}-->
