#button{
    padding-right: 100px;
}
.navbar-toggler-icon{
    padding-left: 80px;
    padding-top:3px ;
    padding-right: 40px;
    color: cornflowerblue;
    text-align: right;
}
div.relative {
  position: relative;
top: 0px;
left: 51px;
    color: cornflowerblue;
}

div.picture{
      position: absolute;
top: 0px;
left: 0px;
}

div.static1{
    position: absolute;
    top: -10px;
  left: 30px;

}
div.static2{
        position: absolute;
    top: 10px;
  left: 30px;
}
.blue{
    color: blue;
    font-style: italic;
      
}
.red{
    color: red;
    font-style: italic;

}




/* Login.html */
#hr.column2{
    border-top: 3px dashed #bbb;
}



.footer{
height: 300px;
text-align: center;
background-color:white;
  
}
