{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Chosen Concerts
{% endblock %}

{% block body_block %}
    <h1>Concerts {{ name }} might go to:</h1>
    <div>
       <strong>{{ name }}</strong>.
        <br/>  
        <br/>
    </div>

    <div>
        <img style="width:600px;height:400px;", src="{% static 'images/rango-close-up.jpg' %}"
alt="Picture of our beloved mascot: Rango" /> 
    </div>
    
    <div>
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a
Cat.", style="width:600px;height:400px;"/><br>
    From National Geographic.
    <a href=" https://www.nationalgeographic.com/animals/mammals/facts/domestic-cat" target="_blank">Link</a><br/>
    </div>
    
    
    <div><p>Visits: {{ visits }}</p> </div>
{% endblock %}